#!/usr/bin/env ruby

##############################################################################
# SITEMAP, ROBOTS & S3SITEDEPLOY
##############################################################################
['/sitemap.xml', '/robots.txt'].each do |r|
    compile r do
        filter :erb
        write item.identifier.to_s
    end
end

compile '/assets/style.css' do
    filter :erb
    write item.identifier.without_ext + '-' + contenthash(item) + '.css'
end
compile '/assets/*.svg' do
    write item.identifier.without_ext + '-' + contenthash(item) + '.svg'
end
compile '/assets/favicons/*' do
    write item.identifier.without_ext + '.' + contenthash(item) + '.' + item.identifier.ext
end

###############################################################################
# ARTICLES
###############################################################################

compile '/article/*.markdown' do
    filter :erb
    filter :kramdown
    layout '/article.html'
    write item.identifier.without_ext + '/index.html'
end


compile '/article/*/*.jpg', rep: :w900 do
  filter :thumbnails, width: 900
  write item.identifier.without_ext + '-thumbnail-w900.' + item.identifier.ext
end

compile '/article/*/*.jpg', rep: :w400 do
  filter :thumbnails, width: 400
  write item.identifier.without_ext + '-thumbnail-w400.' + item.identifier.ext
end

compile '/article/*/*' do
    write item.identifier.to_s
end


##############################################################################
# Default
##############################################################################
compile '/index.html' do
    filter :erb
    layout '/default.html'
    write '/index.html'
end

compile '/**/*.html' do
    filter :erb
    layout '/default.html'
    write item.identifier.without_ext + '/index.html'
end

passthrough '/lib/**/*'
passthrough '/s3sup.toml'

##############################################################################
# Results for layout files
##############################################################################
# All layouts through ERB
layout '/**/*', :erb
