/* Include just the Normalize.css part from Bootstrap */
<%= @items['/lib/bootstrap/4.3.1/css/bootstrap-reboot.min.css'].compiled_content %>
<%
    # Colour theme
    clr_white = '#F5F5F5'
    clr_light_grey = '#F0ECEB'
    clr_darker_grey = '#CECECE'
    clr_black = '#283018'

    clr_green = '#729F98'
    clr_brown = '#AA863A'
    clr_blue = '#385674'
    clr_nav_blue = '#496684'
    clr_logo_gold = '#D4B715'
%>

<%
###############################################################################
# Download WOFF and WOFF2 web font files using:
# https://github.com/neverpanic/google-font-download
#
# Font-face supports most browsers:
# https://css-tricks.com/snippets/css/using-font-face/
#
###############################################################################
%>
@font-face {
    font-family: 'Alegraya Sans';
    font-style: normal;
    src:
        url('<%= @items['/lib/fonts/alegreya-sans/2019-03-27/Alegreya.woff2'].path %>') format('woff2'),
        url('<%= @items['/lib/fonts/alegreya-sans/2019-03-27/Alegreya.woff'].path %>') format('woff');
}

html {
    height: 100%;
}
body {
    font-family: 'Alegraya Sans', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 1.1rem;
    color: <%= clr_black %>;
    background-color: <%= clr_light_grey %>;

    /* This is to get a 'sticky footer', make a columnar flexbox */
    height: 100%;
    display: flex;
    flex-direction: column;
}

<%
###############################################################################
# Layout
###############################################################################
%>
.site-narrowing-container {
    max-width: 900px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

<%
###############################################################################
# NAVIGATION BAR AND FOOTER
###############################################################################
%>
header, footer {
    background-color: <%= clr_blue %>;
    color: <%= clr_light_grey %>;

    /* Main site content should grow to fill, not the header or  footer */
    flex: 0 1 auto;
}
header {
    border-bottom: 4px solid <%= clr_logo_gold %>;
}

.header-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header .header-footer {
    align-items: center;
}
footer .header-footer {
    align-items: flex-start;
}

.navbar-logo {
    display: inline-block;
    display: flex;
    align-items: center;
    font-family: Courier New, monospace;
    margin: 10px 10px 10px 0px;
}
.navbar-logo img {
    margin-right: 10px;
}
.logo-lg { font-size: 1.6rem; }
.logo-sm { font-size: 0.6rem; }

.header-footer a {
    color: <%= clr_light_grey %>;
}
.header-footer a:visited {
    color: <%= clr_light_grey %>;
}
.header-footer a:hover {
    color: <%= clr_white %>;
    text-decoration: underline;
}
.header-footer a:active {
    color: <%= clr_blue %>;
    text-decoration: underline;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 0px 10px 10px;
    font-size: 1rem;
}
nav a {
    display: inline-block;
    background-color: <%= clr_nav_blue %>;
    margin-right: 5px;
    padding: 4px 12px 4px 12px;
}

footer {
    margin-top: 20px;
    border-top: 4px solid <%= clr_logo_gold %>;
    padding: 10px 0px 10px 0px;
}
footer p, footer ul {
    margin: 10px 0px 10px 0px;
}
footer a {
    text-decoration: underline;
}
footer ul {
    list-style-type: circle;
}

<%
###############################################################################
# MAIN PAGE CONTENT
###############################################################################
%>
main {
    /* Main site content should grow to fill, not the header or footer */
    flex: 1 0 auto;
}
main a {
    color: <%= clr_blue %>;
    text-decoration: underline;
}
main a:hover {
    color: <%= clr_logo_gold %>;
    background-color: <%= clr_light_grey %>;
}
main a:active {
    color: <%= clr_blue %>;
}
main a:visited {
    color: <%= clr_black %>;
}

main .lead-spacer {
    margin-top: 1.8rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3rem;
    margin-top: 1.5rem;
    font-weight: normal;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; }

main p {
    line-height: 2rem;
}
hr {
    border: 0;
    border-top: 1px solid <%= clr_darker_grey %>;
    margin-top: 30px;
    margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
code {
    color: <%= clr_black %>;
    background-color: <%= clr_white %>;
    padding: 0.2rem 0.2rem 0.1rem 0.3rem; /* T L B R */
    font-size: 0.8rem;
}
pre {
    color: <%= clr_black %>;
    background-color: <%= clr_white %>;
    border-left: 4px solid <%= clr_blue %>;
    padding: 0.8rem;
    font-size: 0.8rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

}
.gallery a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.captioned-image {
    display: table;
}
.captioned-image img {
    max-width: 100%;
    border: 10px solid #FFF;
    background-color: #FFF;
    -moz-box-shadow: 0 0 4px #AAA;
    -webkit-box-shadow: 0 0 4px #AAA;
    box-shadow: 0 0 4px #AAA;
}
.captioned-image figcaption {
    display: table-caption;
    caption-side: bottom;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1rem;
}


<%
###############################################################################
# ENHANCEMENTS FOR LARGER SCREENS
# Principle here is to start mobile first, then enhance for larger devices
###############################################################################
%>
@media (min-width: 992px) {
    body { font-size: 1.3rem; }
    .navbar { padding-top: 20px; padding-bottom: 15px; }
    nav { font-size: 1.2rem; }
    .logo-lg { font-size: 2rem; }
    .logo-sm { font-size: 0.8rem; }
    main h1 { font-size: 2.4rem; margin-top: 2.3rem; }
    main h2 { font-size: 2rem; margin-top: 2.3rem; }
    main h3 { font-size: 1.8rem; margin-top: 2.3rem; }
    main p { line-height: 2.2rem; }
    pre { padding: 1.2rem; }
    footer { font-size: 1rem; }
}
