<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= @item[:title] %> - Woolie.co.uk</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alistair Wooldrige">
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    <!-- Get woffs downloaded as quick as possible -->
    <link rel="preload" href="<%= @items['/lib/fonts/alegreya-sans/2019-03-27/Alegreya.woff2'].path %>" as="font" type="font/woff2">

    <!-- Required Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="<%= @items['/style.css'].path %>" />

    <!-- TODO: Add favicon -->
    <!-- TODO: Add Google Analytics with IP anonymisation -->
</head>
<body>

    <nav>
        <div class="site-narrowing-container navbar">
            <a class="navbar-logo" href="<%= @items['/index.html'].path %>">
                <span class="logo-lg">woolie</span><span class="logo-sm">.co.uk</span>
            </a>
            <div class="nav-links">
                <% nav_items = ['/index.html', '/about.html'] %>
                <% nav_items.each do |i| %>
                    <%= link_to(@items[i][:title], @items[i], class: @item.path == @items[i].path ? 'nav-link active' : 'nav-link') %>
                <% end %>
            </div>
        </div>
    </nav>

<div class="site-narrowing-container site-content">
    <%= yield %>

    <footer>
        &copy; 2005-<%= Date.today.strftime("%Y") %> Alistair Wooldrige. Uploaded using <a href="https://github.com/AWooldrige/s3sup">s3sup</a>, S3 static website uploader.
    </footer>
</div>
</body>
</html>
