<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= @item[:title] %> - Woolie.co.uk</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <meta name="author" content="Alistair Wooldrige">
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="author" href="https://plus.google.com/103905050175116936578/posts"/>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="<%= @items['/style/'].path %>" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- TODO: Add favicon -->
    <!-- TODO: Add Google Analytics -->
</head>
<body>

<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-narrow">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<%= @items['/'].path %>">Woolie.co.uk</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <% nav_items = ['/'] %>
                    <% nav_items.each do |i| %>
                    <li<%= ' class="active"' if item.path == @items[i].path %>><a href="<%= @items[i].path %>"><%= @items[i][:title] %></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-narrow">
    <%= yield %>

    <hr>
    <footer class="footer">
        <p class="pull-right"><small>Woolie.co.uk - Tech, Odds and Sods</small></p>
        <p><small>&copy; <%= Date.today.strftime("%Y") %> Alistair Wooldrige</small></p>
    </footer>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<%
if item[:"Legacy WP ID"] then
    livefyre_article_id = item[:"Legacy WP ID"]
elsif item[:kind] == "article" then
    livefyre_article_id = item.identifier
end
%>
<% unless livefyre_article_id.nil? then %>
    <script type="text/javascript" src="//zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
    <script type="text/javascript">
    (function () {
        var articleId = "<%= livefyre_article_id %>";
        fyre.conv.load({}, [{
            el: 'livefyre-comments',
            network: "livefyre.com",
            siteId: "319285",
            articleId: articleId,
            signed: false,
            collectionMeta: {
                articleId: articleId,
                url: fyre.conv.load.makeCollectionUrl(),
            }
        }], function() {});
    }());
    </script>
<% end %>
</body>
</html>
